.app {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.card {
  margin: 20px;
}

button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
